<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/javascript/home.js"></script>
    <title>Techie Crunchie</title>
</head>
<body>
    <div id="comment-input" class="modal" id="comment-data">
        <div class="modal-content">
            <div class="row">
                <h5>Please title your comment and write its content below</h5>
                <div class="input-field col s12">
                    <input placeholder="" id="comment-title" type="text" class="validate">
                    <label for="comment-title">Comment Title</label>
                </div>
                <div class="input-field col s12">
                    <textarea placeholder="" id="comment-body" class="materialize-textarea"></textarea>
                    <label for="comment-body">Your Comment</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat" id="submit-comment-btn">Submit</a>
        </div>
    </div>
    {{{body}}}
</body>
</html>