<h5>You can add your own comments to each article</h5>
<ul class="collection browser-default">
    {{#each dbArticle}}
        <li>{{title}}</li>
        <li>{{summary}}</li>
        <li><a href="{{link}}">Read More</a></li>
        <a class="waves-effect waves-light btn add-comment-btn modal-trigger" data-target="comment-input" id="{{_id}}">Add Comment</a>
        <a class="waves-effect waves-light btn del-comment-btn modal-trigger" data-target="delete-alert">Delete Comment</a>
        <hr>
    {{/each}}
</ul>